@media screen and (min-width:1300px) {
  .center4 {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    align-items: center;
    background-color: rgb(2, 2, 67);
  }
  .parent img {
    height: 240px;
    width: 240px;
  }
  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;

  }
}

@media screen and (min-width:1000px) and (max-width:1300px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 50px;
    padding: 0 80px;
    font-weight: bold;
    color: white;
  }

  .dropdownoptions {
    width: 100%;
    height: 45%;
    border: 2px solid black;
  }

  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;

  }

  .parent {
    position: relative;
    width: 27%;
    height: 100%;
    padding: 10px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

  .allprojects .project1,
  .allprojects .project2,
  .allprojects .project3,
  .allprojects .project4,
  .allprojects .project6,
  .allprojects .project7,
  .allprojects .project8,
  .allprojects .project9 {
    position: relative;
    width: 30%;
    height: 241px;
    max-width: 215px;
    overflow: hidden;
    border: 5px solid aqua;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 15px aqua;
  }

  .teamsub1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .teamsub {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 300deg, black 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .creativesub {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 324deg,
        black 324deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }


  .creativesub1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .commicationsub {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 230deg,
        black 230deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }


  .commicationsub1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .problemsub {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 270deg,
        black 270deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }


  .problemsub1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .creative {
    height: 10%;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .commication {
    height: 10%;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .problem {
    height: 10%;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .team {
    height: 10%;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .professionalskills {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .center3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 140px;
    background-color: rgb(2, 2, 67);
  }

  .professionaltext {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .technicaltext {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .imagebox {
    width: 60%;
    height: 45%;
    border-radius: 50%;
    background-image: url(17a56f13-21df-4c9a-97ec-31d7fcbc9382.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    -webkit-border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }

  .point2 {
    font-size: 2.3rem;
    font-weight: 900;
    color: white;
    padding: 10px 0;
  }

  .point4 {
    font-weight: 500;
    color: white;
    line-height: 23px;
  }

  .center1sub2 img {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }


  .center1sub1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    line-height: 35px;
    background-color: rgb(2, 2, 67);
  }

  .allskills {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-left: 30px;
    gap: 35px;
  }
}

@media screen and (min-width:740px) and (max-width:1000px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 50px;
    padding: 0px 60px;
    font-weight: bold;
    color: white;
  }

  .category UL a {
    text-decoration: none;
    color: white;
    display: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .category ul a:hover {
    color: #0073e6;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
  }

  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .dropdownoptions {
    width: 100%;
    height: 45%;
    border: 2px solid black;
  }

  .imagebox {
    width: 80%;
    height: 45%;
    border-radius: 50%;
    background-image: url(17a56f13-21df-4c9a-97ec-31d7fcbc9382.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    -webkit-border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }

  .center1sub1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    line-height: 35px;
    background-color: rgb(2, 2, 67);
  }

  .point3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }

  .point2 {
    font-size: 2.2rem;
    font-weight: 900;
    padding: 10px 0;
    color: white;
  }

  .point1 {
    font-size: 1.1rem;
    font-weight: 900;
    color: white;
  }

  .parent {
    position: relative;
    width: 35%;
    height: 100%;
    padding: 10px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

  .professionalskills {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 80px 0;
  }

  .creativesub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
  }

  .creativesub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 324deg, black 324deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .teamsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .teamsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 300deg, black 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .commicationsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 230deg,
        black 230deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }


  .commicationsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .center3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 80px;
    background-color: rgb(2, 2, 67);
  }

  .problemsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 270deg,
        black 270deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }


  .problemsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }

  .creative {
    height: 10%;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .commication {
    height: 10%;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .problem {
    height: 10%;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .team {
    height: 10%;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .professionaltext {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .allskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    padding-left: 30px;
    gap: 40px;
    padding: 55px 0;
  }

  .technicaltext {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .allprojects .project1,
  .allprojects .project2,
  .allprojects .project3,
  .allprojects .project4,
  .allprojects .project6,
  .allprojects .project7,
  .allprojects .project8,
  .allprojects .project9 {
    position: relative;
    width: 30%;
    height: 241px;
    max-width: 215px;
    overflow: hidden;
    border: 5px solid aqua;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 15px aqua;
  }

  .contactme {
    width: 50%;
    height: 100%;
    padding: 0px 30px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 50px 0;
  }

  .summery {
    color: rgb(124, 124, 124);
    font-size: .8rem;
    margin: 20px 0;
    line-height: 20px;
  }

  .topicdetail {
    color: white;
    font-size: 1.3rem;
  }

  .details {
    line-height: 40px;
    font-weight: 700;
  }

  .emaildetail {
    font-size: 1rem;
    font-weight: 700;
    color: white;
  }

  .contactdetailsub {
    font-size: 1rem;
    font-weight: 700;
    color: white;
  }

  .contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 30px;
  }

  .form-row input,
  .form-row textarea {
    width: 100%;
    padding: 15px 10px;
    padding-right: 0px;
    margin-right: 0%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .9em;
  }

  .center1sub2 img {
    height: 285px;
    width: 285px;
    border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }


  .center4 {
    height: auto;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 2, 67);
  }
}

@media screen and (min-width:500px) and (max-width:740px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0px;
    padding: 0px 40px;
    font-weight: bold;
    color: white;
  }

  .dropdownoptions {
    width: 100%;
    height: 45%;
    border: 2px solid black;
  }

  .category UL a {
    text-decoration: none;
    color: white;
    display: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .category ul a:hover {
    color: #0073e6;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
  }

  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    background-color: rgb(2, 2, 67);
  }

  .point3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7rem;
    font-weight: bold;
    color: white;
  }

  .point2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: white;
    padding: 10px 0;
  }

  .point1 {
    font-size: 1rem;
    font-weight: 900;
    color: white;
  }

  .center1 {
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .imagebox {
    width: 43%;
    height: 90%;
    border-radius: 50%;
    background-image: url(17a56f13-21df-4c9a-97ec-31d7fcbc9382.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    -webkit-border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }

  .center1sub2 {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    line-height: 20px;
    background-color: rgb(2, 2, 67);
  }

  .point5 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  i.fa-brands.fa-linkedin-in::before {
    font-size: 1.5rem;
    text-decoration: none;
    color: aqua;
  }

  .linksicon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    font-size: 1.3rem;
    color: rgb(0, 213, 255);
  }

  .point4 {
    font-size: .9rem;
    font-weight: 500;
    color: white;
    line-height: 24px;
  }

  .point8 p {
    height: 90px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .center2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    line-height: 60px;
    background-color: rgb(2, 2, 67);
  }

  .parent {
    position: relative;
    width: 50%;
    height: 30%;
    margin: 15px;
    padding: 10px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

  .point8 p {
    height: 65px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .point9 {
    height: 285px;
    width: 90%;
    text-align: center;
    font-size: .9rem;
    font-weight: 200;
    line-height: 25px;
    color: white;
  }

  .point10sub {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: white;
    margin-top: 0px;
    border: 0;
    background-color: rgb(2, 198, 198);
  }

  .point6 {
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.7rem;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .professionaltext {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .professional {
    width: 90%;
    height: 50vh;
  }

  .professionalskills {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .creativesub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creativesub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 324deg, black 324deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 230deg, black 230deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .problemsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 270deg, black 270deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .problemsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .teamsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 300deg, black 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .teamsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creative {
    height: 10%;
    line-height: 45px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .commication {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .problem {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .team {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .point11 {
    height: 115px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.1rem;
    font-weight: 700;
  }

  .technical {
    width: 90%;
    height: 50vh;
    padding: 20px 0;
  }

  .technicaltext {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .center3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    padding-top: 50px;
    margin-bottom: -26px;
    padding-bottom: 160px;
    background-color: rgb(2, 2, 67);
  }

  .allskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    padding-left: 0px;
    gap: 20px;
  }

  .allprojects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .allprojects .project1,
  .allprojects .project2,
  .allprojects .project3,
  .allprojects .project4,
  .allprojects .project6,
  .allprojects .project7,
  .allprojects .project8,
  .allprojects .project9 {
    position: relative;
    width: 100%;
    max-width: 266px;
    height: 300px;
    overflow: hidden;
    border: 5px solid aqua;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 15px aqua;
  }

  .center4 {
    height: auto;
    width: 100%;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 2, 67);
  }

  .contactdetail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .summery {
    color: rgb(124, 124, 124);
    font-size: .8rem;
    margin: 20px 0;
    line-height: 20px;
  }

  .contactme {
    width: 90%;
    height: 100%;
    padding: 0px 15px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.3rem;
    font-weight: 700;
    padding: 50px 0;
  }

  .topicdetail {
    color: white;
    font-size: 1.2rem;
  }

  .contactdetailsub {
    padding: 25px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
  }

  .contact-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0px;
    padding-right: 12px;
  }

  .center5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  textarea {
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    margin-right: -15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  .center1sub2 img {
    height: 300px;
    width: 300px;
    margin: 32px 0;
    border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
}
}

@media screen and (min-width:400px) and (max-width:500px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0px;
    padding: 0px 40px;
    font-weight: bold;
    color: white;
  }
  .parent img {
    height: 220px;
    width: 220px;
}

  .center1sub2 img {
    height: 260px;
    width: 260px;
    margin: 20px 0;
    border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
}

  .category UL a {
    text-decoration: none;
    color: white;
    display: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .dropdownoptions {
    width: 100%;
    height: 45%;
    border: 2px solid black;
  }

  .category ul a:hover {
    color: #0073e6;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
  }

  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    background-color: rgb(2, 2, 67);
  }

  .point3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7rem;
    font-weight: bold;
    color: white;
  }

  .point2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: white;
    padding: 10px 0;
  }

  .point1 {
    font-size: 1rem;
    font-weight: 900;
    color: white;
  }

  .center1 {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .imagebox {
    width: 65%;
    height: 90%;
    border-radius: 50%;
    background-image: url(17a56f13-21df-4c9a-97ec-31d7fcbc9382.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    -webkit-border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }

  .center1sub2 {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    line-height: 20px;
    background-color: rgb(2, 2, 67);
  }

  .point5 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  i.fa-brands.fa-linkedin-in::before {
    font-size: 1.5rem;
    text-decoration: none;
    color: aqua;
  }

  .linksicon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    font-size: 1.3rem;
    color: rgb(0, 213, 255);
  }

  .point4 {
    font-size: .9rem;
    font-weight: 500;
    color: white;
    line-height: 24px;
  }

  .point8 p {
    height: 90px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .center2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    line-height: 60px;
    background-color: rgb(2, 2, 67);
  }

  .parent {
    position: relative;
    width: 55%;
    height: 30%;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .point8 p {
    height: 65px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .point9 {
    height: 285px;
    width: 90%;
    text-align: center;
    font-size: .9rem;
    font-weight: 200;
    line-height: 25px;
    color: white;
  }

  .point10sub {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: white;
    margin-top: 0px;
    border: 0;
    background-color: rgb(2, 198, 198);
  }

  .point6 {
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.7rem;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .professionaltext {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .professional {
    width: 90%;
    height: 50vh;
  }

  .professionalskills {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .creativesub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creativesub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 324deg, black 324deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 230deg, black 230deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .problemsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 270deg, black 270deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .problemsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .teamsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 300deg, black 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .teamsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creative {
    height: 10%;
    line-height: 45px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .commication {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .problem {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .team {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .point11 {
    height: 115px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.1rem;
    font-weight: 700;
  }

  .technical {
    width: 90%;
    height: 50vh;
    padding: 20px 0;
  }

  .technicaltext {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .center3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    padding-top: 50px;
    margin-bottom: -26px;
    padding-bottom: 160px;
    background-color: rgb(2, 2, 67);
  }

  .allskills {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-left: 0px;
    gap: 20px;
  }

  .allprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .allprojects .project1,
  .allprojects .project2,
  .allprojects .project3,
  .allprojects .project4,
  .allprojects .project6,
  .allprojects .project7,
  .allprojects .project8,
  .allprojects .project9 {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border: 5px solid aqua;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 15px aqua;
  }

  .center4 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 2, 67);
  }

  .contactdetail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .summery {
    color: rgb(124, 124, 124);
    font-size: .8rem;
    margin: 20px 0;
    line-height: 20px;
  }

  .contactme {
    width: 90%;
    height: 100%;
    padding: 0px 15px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.3rem;
    font-weight: 700;
    padding: 50px 0;
  }

  .topicdetail {
    color: white;
    font-size: 1.2rem;
  }

  .contactdetailsub {
    padding: 25px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
  }

  .contact-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0px;
    padding-right: 12px;
  }

  .center5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  textarea {
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    margin-right: -15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
}

@media screen and (min-width:320px) and (max-width:400px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 20px;
    padding: 20px 20px;
    font-weight: bold;
    color: white;
  }

  .center1sub2 img {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
}
  .category UL a {
    text-decoration: none;
    color: white;
    display: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .dropdownoptions {
    width: 100%;
    height: 45%;
    border: 2px solid black;
  }

  .category ul a:hover {
    color: #0073e6;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
  }

  .dropdown {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    background-color: rgb(2, 2, 67);
  }

  .point3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7rem;
    font-weight: bold;
    color: white;
  }

  .point2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: white;
    padding: 10px 0;
  }

  .point1 {
    font-size: 1rem;
    font-weight: 900;
    color: white;
  }

  .center1 {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .imagebox {
    width: 65%;
    height: 80%;
    border-radius: 50%;
    background-image: url(17a56f13-21df-4c9a-97ec-31d7fcbc9382.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    -webkit-border-radius: 50%;
    background-color: rgb(0, 213, 255);
    box-shadow: 0px 0px 35px aqua;
  }

  .center1sub2 {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center1sub1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    line-height: 20px;
    background-color: rgb(2, 2, 67);
  }

  .point5 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  i.fa-brands.fa-linkedin-in::before {
    font-size: 1.5rem;
    text-decoration: none;
    color: aqua;
  }

  .linksicon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    font-size: 1.3rem;
    color: rgb(0, 213, 255);
  }

  .point4 {
    font-size: .9rem;
    font-weight: 500;
    color: white;
    line-height: 24px;
  }

  .point8 p {
    height: 90px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .center2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    line-height: 60px;
    background-color: rgb(2, 2, 67);
  }

  .parent {
    position: relative;
    width: 70%;
    height: 31%;
    margin: 15px;
    padding: 10px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

  .point8 p {
    height: 65px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }

  .point9 {
    height: 292px;
    width: 90%;
    text-align: center;
    font-size: .85rem;
    font-weight: 200;
    line-height: 25px;
    padding-bottom: 55px;
    color: white;
  }

  .point10sub {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: white;
    margin-top: 0px;
    border: 0;
    background-color: rgb(2, 198, 198);
  }

  .point6 {
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.7rem;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .professionaltext {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .professional {
    width: 90%;
    height: auto;
  }

  .professionalskills {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .creativesub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creativesub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 324deg, black 324deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 230deg, black 230deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .commicationsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .problemsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 270deg, black 270deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .problemsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .teamsub {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(aqua 0deg 300deg, black 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .teamsub1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: aqua;
  }

  .creative {
    height: 10%;
    line-height: 45px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .commication {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .problem {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .team {
    height: 10%;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .point11 {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .technical {
    width: 90%;
    height: auto;
    padding: 20px 0;
  }

  .technicaltext {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
  }

  .center3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    background-color: rgb(2, 2, 67);
  }

  .allskills {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-left: 0px;
    gap: 20px;
  }

  .allprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .allprojects .project1,
  .allprojects .project2,
  .allprojects .project3,
  .allprojects .project4,
  .allprojects .project6,
  .allprojects .project7,
  .allprojects .project8,
  .allprojects .project9 {
    position: relative;
    width: 100%;
    height: 304px;
    max-width: 270px;
    overflow: hidden;
    border: 5px solid aqua;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 15px aqua;
  }

  .center4 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    background-color: rgb(2, 2, 67);
  }

  .contactdetail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .summery {
    color: rgb(124, 124, 124);
    font-size: .8rem;
    margin: 20px 0;
    line-height: 20px;
  }

  .contactme {
    width: 90%;
    height: 100%;
    padding: 0px 15px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2.3rem;
    font-weight: 700;
    padding: 50px 0;
  }

  .topicdetail {
    color: white;
    font-size: 1.2rem;
  }

  .contactdetailsub {
    padding: 25px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
  }

  .contact-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0px;
    padding-right: 12px;
  }

  .center5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  textarea {
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    margin-right: -5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .9em;
  }
}