* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5; 
    font-family: Arial, sans-serif;
    color: #333333; 
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6a11cb, #2575fc); 
}
.login {
    height: 70vh;
    width: 60%;
    border: 0;
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background-image: url("vecteezy_man-character-learn-remotely-from-home-online-distance_5514524.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.logindetail {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    background-color: Light Blue (#e0f7fa);
}
.adjust {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    padding-left: 40px;
}
.point1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.point2 {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.point3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.email {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
.password {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
input::placeholder {
    color: black;
    text-align: center;
}
.remember {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.check {
    height: 15px;
    width: 15px;
}
.point4 {
    font-size: .9rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.Signup {
    color: #009688;
    text-decoration: none;
}

.Signup:hover {
    text-decoration: underline;
}
.loginbutton {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    border: 0;
    justify-content: center;
    background-color: #007bff; 
    color: #ffffff; 
    transition: background-color 0.3s;
}
.loginbutton:hover {
    background-color: #0056b3; 
}


.Signdetail {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    background-color: Light Blue (#e0f7fa);
    display: none;
}
.adjust1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 40px;
    padding-left: 40px;
}
.point1sub {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.point2sub {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.point2sub1 {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.point3sub {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.emailsub {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
.passwordsub {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.emailsub1 {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
input::placeholder {
    color: black;
    text-align: center;
}
.remember {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.check {
    height: 15px;
    width: 15px;
}
.point4sub {
    font-size: .9rem;
    font-weight: bold;
    color: black;
    text-align: left;
}
.Signin {
    color: #009688;
    text-decoration: none;
}

.Signin:hover {
    text-decoration: underline;
}
.loginbutton {
    height: 30px;
    width: 75%;
    border-radius: 5px;
    border: 0;
    justify-content: center;
    background-color: #007bff; 
    color: #ffffff; 
    transition: background-color 0.3s;
}
.loginbutton:hover {
    background-color: #0056b3; 
}
