
@media screen and (min-width:1000px) and (max-width:1350px) {
    .dropdown {
        height: 30px;
        width: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .header1 {
        font-size: 2rem;
        color: white;
        padding: 0 70px;
        scroll-behavior: smooth;
    }
    .header2 {
        width: 340px;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        padding: 0px 13px;
        scroll-behavior: smooth;
    }
    .musictext1 {
        position: relative;
        top: 160px;
        font-size: 4rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .musictext2 {
        margin-top: 17%;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .musictext3 {
        margin-top: 38px;
        padding: 0 92px;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .music {
        height: 100vh;
        width: 100%;
        background-image: url(https://practice-project-html-css.vercel.app/Project%206/images/video.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .title2music {
        margin-top: 85px;
        padding: 0 60px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image1 {
        height: 630px;
        width: 813px;
        position: relative;
        bottom: 250px;
    }
    .tablet2text2 {
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        padding: 0 38px;
    }
    .mac img {
        height: 502px;
    }
    .mac {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 114px;
    }
    .music2 {
        margin-top: 270px;
        padding: 0 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        color: white;
    }
    button {
        width: 80px;
        height: 35px;
        position: relative;
        left: 20px;
        color: white;
        background-color: rgb(4, 4, 130);
    }
    .cardtitle {
        position: relative;
        top: 100px;
        padding: 0 20px;
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .cardtext {
        height: 233px;
        margin-top: 120px;
        border-bottom: 1px soild black;
        padding: 0 20px;
        border-style: solid;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cardimg {
        height: 330px;
        width: 450px;
        padding: 0 20px;
        position: relative;
        top: 100px;
    }
}
@media screen and (min-width:700px) and (max-width:1000px) {
    .dropdown {
        height: 30px;
        width: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header1 {
        font-size: 2rem;
        color: white;
        padding: 0 70px;
        scroll-behavior: smooth;
    }
    .header2 {
        width: 60px;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 51px;
        scroll-behavior: smooth;
    }
    .header2 a {
        width: 340px;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        display: none;
        justify-content: space-between;
        padding: 0px 13px;
        scroll-behavior: smooth;
    }
    .musictext1 {
        position: relative;
        top: 160px;
        font-size: 4rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .musictext2 {
        margin-top: 17%;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .musictext3 {
        margin-top: 38px;
        padding: 0 92px;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .music {
        height: 100vh;
        width: 100%;
        background-image: url(https://practice-project-html-css.vercel.app/Project%206/images/video.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .title2music {
        margin-top: 85px;
        padding: 0 60px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image1 {
        height: 500px;
        width: 590px;
        position: relative;
        bottom: 202px;
    }
    .tablet2text2 {
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        padding: 0 38px;
    }
    .tablet2 {
        height: 778px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tablet {
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mac img {
        height: 365px;
    }
    .mac {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 114px;
    }
    .music2 {
        margin-top: 270px;
        padding: 0 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        color: white;
    }
    button {
        width: 80px;
        height: 35px;
        position: relative;
        left: 20px;
        color: white;
        background-color: rgb(4, 4, 130);
    }
    .cardtitle {
        position: relative;
        top: 100px;
        padding: 0 20px;
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .card {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .cardtext {
        height: 150px;
        margin-top: 120px;
        border-bottom: 1px soild black;
        padding: 0px 20px;
        border-style: solid;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cardimg {
        height: 330px;
        width: 450px;
        padding: 0 20px;
        position: relative;
        top: 100px;
    }
    .cardother {
        justify-content: center;
        align-items: center;
        text-align: start;
        width: 700px;
        padding: 10px 0;
    }
    .point1 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point2 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point3 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point4 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    footer {
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: rgb(3, 2, 72);
    }
}
@media screen and (min-width:500px) and (max-width:700px) {
    .dropdown {
        height: 30px;
        width: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header1 {
        font-size: 1.5rem;
        color: white;
        padding: 0 31px;
        scroll-behavior: smooth;
    }
    .header2 {
        width: 60px;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        scroll-behavior: smooth;
    }
    .header2 a {
        width: 340px;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        display: none;
        justify-content: space-between;
        padding: 0px 13px;
        scroll-behavior: smooth;
    }
    .musictext1 {
        position: relative;
        top: 160px;
        font-size: 2.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .musictext2 {
        margin-top: 54%;
        font-size: .9rem;
        font-weight: bold;
    }
    .musictext3 {
        margin-top: 38px;
        padding: 0 20px;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .music {
        height: 85vh;
        width: 100%;
        background-image: url(https://practice-project-html-css.vercel.app/Project%206/images/video.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .title2music {
        margin-top: 85px;
        padding: 0 10px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image1 {
        height: 300px;
        width: 368px;
        position: relative;
        bottom: 88px;
    }
    .tablet2text2 {
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        padding: 0 38px;
    }
    .tablet2 {
        height: 778px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tablet {
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mac img {
        height: 300px;
    }
    .mac {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 114px;
    }
    .music2 {
        margin-top: 270px;
        padding: 0 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        color: white;
    }
    button {
        width: 80px;
        height: 35px;
        position: relative;
        left: 20px;
        color: white;
        background-color: rgb(4, 4, 130);
    }
    .cardtitle {
        position: relative;
        top: 100px;
        padding: 0 20px;
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .card {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .cardtext {
        height: 337px;
        margin-top: 120px;
        border-bottom: 1px soild black;
        padding: 0px 20px;
        border-style: solid;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cardimg {
        height: 250px;
        width: 390px;
        padding: 0 20px;
        position: relative;
        top: 100px;
    }
    .cardother {
        justify-content: center;
        align-items: center;
        text-align: start;
        width: 100%;
        padding: 25px 0;
    }
    .point1 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point2 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point3 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point4 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: rgb(3, 2, 72);
    }
}
@media screen and (min-width:320px) and (max-width:500px) {
    .dropdown {
        height: 30px;
        width: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header1 {
        font-size: 1.5rem;
        color: white;
        padding: 0 31px;
        scroll-behavior: smooth;
    }
    .header2 {
        width: 60px;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        scroll-behavior: smooth;
    }
    .header2 a {
        width: 340px;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        display: inline-block;
        display: flex;
        display: none;
        justify-content: space-between;
        padding: 0px 13px;
        scroll-behavior: smooth;
    }
    .musictext1 {
        position: relative;
        top: 160px;
        font-size: 2.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .musictext2 {
        margin-top: 54%;
        font-size: .9rem;
        font-weight: bold;
    }
    .musictext3 {
        margin-top: 38px;
        padding: 0 20px;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .music {
        height: 85vh;
        width: 100%;
        background-image: url(https://practice-project-html-css.vercel.app/Project%206/images/video.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .title2music {
        margin-top: 85px;
        padding: 0 10px;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image1 {
        height: 210px;
        width: 261px;
        position: relative;
        bottom: 88px;
    }
    .tablet2text2 {
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        padding: 0 38px;
    }
    .tablet2 {
        height: 778px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tablet {
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mac img {
        height: 150px;
    }
    .mac {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 114px;
    }
    .music2 {
        margin-top: 270px;
        padding: 0 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        color: white;
    }
    button {
        width: 80px;
        height: 35px;
        position: relative;
        left: 20px;
        color: white;
        background-color: rgb(4, 4, 130);
    }
    .cardtitle {
        position: relative;
        top: 100px;
        padding: 0 20px;
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    .card {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .cardtext {
        height: 337px;
        margin-top: 120px;
        border-bottom: 1px soild black;
        padding: 0px 20px;
        border-style: solid;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cardimg {
        height: 210px;
        width: 240px;
        padding: 0 20px;
        position: relative;
        top: 100px;
    }
    .cardother {
        justify-content: center;
        align-items: center;
        text-align: start;
        width: 100%;
        padding: 25px 0;
    }
    .point1 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point2 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point3 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    .point4 {
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-width: 1.5px;
    }
    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: rgb(3, 2, 72);
    }
}