.playermusic {
    height: 100px;
    width: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
}
.playericon {
    position: relative;
    bottom: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
i.fa-solid.fa-shuffle::before{
    font-size: 1.4rem;
    color: white;
}
i.fa-solid.fa-backward-step::before{
    font-size: 1.4rem;
    color: white;
}
i.fa-solid.fa-play::before{
    font-size: 1.4rem;
}
i.fa-solid.fa-forward-step::before{
    font-size: 1.4rem;
    color: white;
}
i.fa-solid.fa-repeat::before{
    font-size: 1.3rem;
    color: white;
}
#musiclevel {
    width: 500px;
    position: relative;
    bottom: 15px;
}